.about-card{
    padding:20px;
    padding-bottom:50px;
    width:100%;
    max-width: 100%;
    background-color:var(--background_color_primary);
    display:flex;
    flex-direction:column;
}

@media screen and (max-width: 768px) {
    .about-card {
        padding: 15px;
        padding-bottom: 30px;
    }
    
    .about-card h2 {
        font-size: 2rem !important;
    }
    
    .about-card p {
        padding: 15px !important;
        font-size: 1rem !important;
    }
}

.about-card h2{
    font-size:2.5rem;
    margin-bottom:10px;
    background-color:var(--background_color_primary);
}

.about-card p{
    border:2px solid var(--nav_color);
    border-radius:20px;
    padding:20px;
    font-size:1.2rem;
    color:var(--text_color_2);
    background-color:var(--background_color_tertiary);
    flex:1;
}