.about-page{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .about-page {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}