.toast-success {
    border:none;
    border-radius:20px;
    background-color:var(--nav_color) !important;
    font-family:'Poppins' !important;
    color:var(--text_color_1) !important;
    backdrop-filter:blur(20px) !important;
}

.toast-error {
    border:none;
    border-radius:20px;
    background-color:var(--nav_color) !important;
    font-family:'Poppins' !important;
    color:var(--text_color_1) !important;
    backdrop-filter:blur(20px) !important;
}